<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  throwConfigExceptions="true">

  <targets async="true">
    <target name="default" xsi:type="SplitGroup">
      <target xsi:type="Console"
          layout="${date:universalTime=true:format=o}|${level}|${logger}${newline}    ${message}"/>
      <target xsi:type="File" encoding="utf-8"
          fileName="${basedir}/${shortdate:universalTime=true}.log"
          layout="${date:universalTime=true:format=o}|${level}|${logger}|${message}"
          maxArchiveFiles="10" archiveAboveSize="1000000"
          />
    </target>

    <target name="important" xsi:type="AsyncWrapper" overflowAction="Block">
      <target xsi:type="File" encoding="utf-8"
          fileName="${basedir}/${shortdate:universalTime=true}-Important.log"
          layout="${date:universalTime=true:format=o}|${level}|${logger}|${message}"
          maxArchiveFiles="10" archiveAboveSize="1000000"
          />
    </target>

    <target name="spam" xsi:type="AsyncWrapper" overflowAction="Block">
      <target xsi:type="File" encoding="utf-8"
          fileName="${basedir}/${shortdate:universalTime=true}-Spam.log"
          layout="${date:universalTime=true:format=o}|${level}|${logger}|${message}"
          maxArchiveFiles="10" archiveAboveSize="1000000"
          />
    </target>
  </targets>

  <rules>
    <!-- Important (warning and above) log entries duplicated in separate files for ease of reference. -->
    <logger name="*" minlevel="Warn" writeTo="important" />

    <!-- Everything else goes to default. -->
    <logger name="*" writeTo="default" />
  </rules>

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
</nlog>